@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
.btn-btn-primary {
  background: #007BFF;
  border: none;
  height: 50px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-btn-primary:hover {
  transition: filter 0.5s;
  filter: brightness(0.9);
}

.btn-btn-info-small {
  background: rgb(37, 41, 46);
  border: none;
  height: 50px;
  width: 60%;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.btn-btn-info-small:hover {
  transition: filter 0.5s;
  filter: brightness(0.9);
}

.btn-btn-primary-outline {
  background: transparent;
  border: 1px solid #007BFF;
  width: 100%;
  height: 50px;
  color: #000;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-btn-primary-outline:hover {
  transition: all 0.5s;
  background: #007BFF;
  color: #fff;
}

.end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.link {
  color: #fff;
}

.end-vertical {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-10 {
  margin-top: 10px;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.session {
  display: flex;
  align-items: center;
  margin: 40px;
  width: 95%;
  height: 80vh;
  gap: 10px;
}
.session .session-card {
  background: #fff;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px 50px 20px 50px;
}
.session .session-card .content {
  width: 800px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.session .session-card .session-content-card {
  display: flex;
  gap: 20px;
}
.session .session-ticket {
  background: #353535;
  width: 50%;
  height: 100%;
  border-radius: 50px 20px 20px 50px;
}

.crud {
  width: 95%;
  margin: 50px;
  height: 80vh;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background: #f0f0f0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  background: #137ef0;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  gap: 50px;
}
.header .menu li {
  color: #fff;
  list-style-type: none;
  cursor: pointer;
}
.header h1 {
  color: #fff;
}

.admin {
  padding: 30px;
}

.dashboard {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-filme {
  background: #fff;
  width: 500px;
  height: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  border-radius: 0 70px 0 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  margin-right: 50px;
}
.card-filme .description {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.maximum {
  font-size: 50px;
  color: #858585;
}

.login-card {
  background: #fff;
  width: 450px;
  height: 600px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
.login-card .login-content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  background: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  padding: 20px;
  outline: none;
}
.form-control::-moz-placeholder {
  text-transform: uppercase;
}
.form-control::placeholder {
  text-transform: uppercase;
}

.subtitle {
  color: #858585;
  margin-top: 10px;
}

.block {
  color: #007BFF;
}

.gray {
  color: #858585;
}/*# sourceMappingURL=ready.css.map */